$img-path: '../img';
$fonts-path: '../fonts';

// Colors
$black: #000000;
$white: #ffffff;

$body-bg: $white;
$body-color: $black;

$colors: (
  'black': $black,
  'white': $white
);

$theme-colors: ();

// Layout
$spacer: 1rem;
$paragraph-margin-bottom: $spacer;

// Links
$link-color: currentColor;
$link-decoration: underline;
$link-hover-color: currentColor;
$link-hover-decoration: underline;

// Typography
$font-family-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans',
  'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';

$font-family-base: $font-family-sans-serif;
