// Colors
@each $color, $value in $colors {
  .has-#{$color}-color,
  .u-color-#{$color} {
    color: $value;
  }

  .has-#{$color}-background-color,
  .u-bg-color-#{$color} {
    background-color: $value;
  }
}


// Font Sizes
@each $font-size, $value in $font-sizes {
  .has-#{$font-size}-font-size,
  .u-font-size-#{$font-size} {
    font-size: $value;
  }
}