{#
	Contact page
	============================================================
	The html for the template, templates/contact.php
#}

{% extends "base.twig" %}

{% block content %}
	
	<div class="container">

		<h1>Contact</h1>

	</div>

{% endblock %}