{#
	Search page
	============================================================
	The html for search.php
#}

{% extends "base.twig" %}

{% block content %}
	
	<div class="container">

		<h1>Search</h1>

	</div>

{% endblock %}