{#
	Single post
	============================================================
	The html for single.php
#}

{% extends "base.twig" %}
{% import "mixins.twig" as mixins %}

{% block content %}
	
	<div class="container">

		{{ mixins.help() }}

	</div>

{% endblock %}