@import "../bower_components/bootstrap/less/bootstrap.less";

/*
	Vars
*/

@black 	: #000;
@white 	: #fff;
@gray 	: #ccc;

body {
	color:blue;
	text-align: center;
}

/*
	Imports
*/	


// ...
// ...
// ...


/*
	Mixins
*/

.font-serif(){
	font-family:'Georgia', Times, serif;
}

.font-sanserif(){
	font-family:'Arial', helvetica, sans-serif;
}

