{% if pagination.pages is not empty %}
  <nav class="posts-pagination">
    <ul>
      {% if pagination.prev %}
        <li class="prev">
          <a href="{{ pagination.prev.link }}">Previous</a>
        </li>
      {% endif %}

      {% if pagination.next %}
        <li class="next">
          <a href="{{ pagination.next.link }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
